<%inherit file="/base.html"/>

<%block name="content">
<form id="form_encryption" method="post">
  <br/><br/>
  <div class="password">
    <label>密码: </label>
    <input id="password" type="password" name="password"/>
  </div>
  <div class="cipher_text">
    <label>密文: </label>
    <textarea id="cipher_text" name="cipher_text" rows="5"></textarea>
  </div>
  <br/>
  <label>秘钥: </label>
  <input id="password_key" type="text" name="password_key" />
  <br/><br/>
  &nbsp;&nbsp;
  <label><input id="encrypt" type="radio" name="encrypt" value="1" checked="checked" />加密</label>
  &nbsp;&nbsp;
  <label><input id="dencrypt" type="radio" name="encrypt" value="0" />解密</label>
  <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button type="submit">提交</button>
</form>
<br/><br/>
<div id="result"></div>
</%block>

<script src="${STATIC_URL}js/jquery.form.js"></script>
<script>
$(function () {
    $(".cipher_text").hide();
    $(".password").show();

    $("input[type='radio']").change(function () {
        if ($("input#encrypt")[0].checked){
            $(".cipher_text").hide();
            $(".password").show();
        }else{
            $(".cipher_text").show();
            $(".password").hide();
        }
    });
});

$("#form_encryption").submit(function () {
    $(this).ajaxSubmit({
        // target: "#result",
        beforeSubmit: function (formData, jqForm, options) {
            return true;
        },
        success: function (context, status, xhr, $form) {
            var operation = "";
            if ($form[0].encrypt.value == 1) {
                operation = "加密后的结果: <br/>";
            } else {
                operation = "解密后的结果: <br/>";
            }
            $("#result").html(operation + '<textarea>' + context + '</textarea>');
        },
        error: function (context, xhr, status, errormsg, $form) {
            alert("error");
        },
        type: "post",
    });
    return false;
});
</script>
