<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="${STATIC_URL}static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="${STATIC_URL}static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="${STATIC_URL}static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="${STATIC_URL}static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="${STATIC_URL}static_api/v3/bk/css/bk.css?v=1.0.1" rel="stylesheet">
    <link href="${STATIC_URL}static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <link href="${STATIC_URL}static_api/v3/bk/css/base/common.css" rel="stylesheet">
    <link href="${STATIC_URL}static_api/v3/bk/css/components/button.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="${STATIC_URL}static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="${STATIC_URL}static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="${STATIC_URL}static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="${STATIC_URL}static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="${STATIC_URL}static_api/analysis.js"></script>
    <script src="${STATIC_URL}static_api/v3/assets/topbar-1.0/topbar.js"></script>
    <script src="${STATIC_URL}js/csrftoken.js"></script>
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="${STATIC_URL}static_api/v3/assets/js/html5shiv.min.js"></script><script src="${STATIC_URL}static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <!--HTML-->
    <!-- 横向导航四-1 Start -->
    <nav>
        <div class="king-horizontal-nav4">
            <div class="logo_wrap">
                <a class="logo" title="" href="javascript:;">
                    <img src="${STATIC_URL}static_api/v3/bk/images/logo3.png" alt="" class="logo mt10 ml20">
                </a>
            </div>
    </nav>
    <!-- 横向导航四-1 End -->

    <div class="king-page-box king-layout1-main clearfix">
        <!-- 左边 start -->
        <div class="king-layout1-sidebar column" style="width:216px;">
            <nav style="height:100%;" class="   f14">
                <div class="king-vertical-nav4 king-full-height" style="width:200px;" id="king-vertical-nav4">
                    <div class="sidebar-inner">
                        <ul class="navi">
                            <li class="has_submenu current open">
                                <a href="javascript:;">
                                    <i class="fa fa-gear"></i>综合业务
                                    <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                </a>
                                <ul class="sub-menu" id="functional-sub-menu" style="display: block;">
                                % if items:
                                % for item in items:
                                    <li value="${item.id}">
                                        <a href="javascript:;">${item.name}<i class="fa fa-chevron-right pull-right"></i></a>
                                    </li>
                                % endfor
                                % endif
                                </ul>
                            </li>
                            <li class="has_submenu">
                                <a href="javascript:;">
                                    <i class="fa fa-wrench"></i>系统配置
                                    <span class="pull-right"><i class="fa fa-angle-down"></i></span>
                                </a>
                                <ul class="sub-menu" id="system-config-sub-menu">
                                    <li value="1">
                                        <a href="javascript:;">数据库连接<i class="fa fa-chevron-right pull-right"></i></a>
                                    </li>
                                    <li value="2">
                                        <a href="javascript:;" data-operation="2">存储过程<i class="fa fa-chevron-right pull-right"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- 左边 end -->
        <!-- content start -->
        <div class="king-content-wrap">
            <div class="king-layout1-content" style="margin-left: 216px;">
                <div id="content_14904127718185"></div>
            </div>
        </div>
        <!-- content end -->
    </div>

    <script type="text/javascript">
        //纵向导航一-1，侧边二级菜单
        $(".has_submenu > a").click(function (e) {

            var menu = $(this).parent("li");
            var sunMenu = $(this).next("ul");

            if (menu.hasClass("open")) {
                sunMenu.slideUp(350, function () {
                    menu.removeClass("open");
                });

            } else {
                $(".navi > li > ul").slideUp(350);

                setTimeout(function () {
                    $(".navi > li").removeClass("open");
                    sunMenu.slideDown(350);
                    menu.addClass("open");
                }, 350);

            }

            return false;
        });

        // 功能区
        $("#functional-sub-menu > li").click(function () {
            var functional_id = $(this).val();
            var href = window.location.href;
            var param_index = href.indexOf("?");
            var location = "";
            if (param_index > 0)
                location = href.substr(0, param_index);
            else
                location = href;
            location = location.replace(/\/$/g, "")

            $.get(
                url = location + '/functional/' + functional_id + '/',
                function(response, textStatus){
                    if(response.result) {
                        $("#content_14904127718185").html(response.data);
                    } else {
                        $topBar({
                            text: '操作失败: ' + response.message,
                            setClass: 'bg-danger'
                        });
                    }
                },
                'json');
        });

        // 系统配置
        $("#system-config-sub-menu > li").click(function () {
            var object_type = $(this).val();
            var href = window.location.href;
            var param_index = href.indexOf("?");
            var location = "";
            if (param_index > 0)
                location = href.substr(0, param_index);
            else
                location = href;
            location = location.replace(/\/$/g, "")

            $.get(
                url = location + '/system_config/list/' + object_type + '/',
                function(response, textStatus){
                    if(response.result) {
                        $("#content_14904127718185").html(response.data);
                    } else {
                        $topBar({
                            text: '操作失败: ' + response.message,
                            setClass: 'bg-danger'
                        });
                    }
                },
                'json');
        });
    </script>
</body>
</html>
